/* 버튼 기본스타일 삭제 */
button {
    background: none;
    border: none;
    padding: 0;
}

/* 리스트 기본스타일 삭제 */
li {
    list-style: none;
}

/* input 기본스타일 삭제 */
input {
   background: none;
   border: none;
   outline: none;
}

/* p태그 기본마진 제거*/
p {
    margin: 0;
    font-size: 1.5rem;
}

/* placeholder 기본색상 검정*/
input::placeholder {
    color: black;
}

/* 자주쓰는 */
.bold {
    font-weight: bold;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: 0;
}

.max-div {
    width: 40%;
    height: 100%;
}

/* 헤더 */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 1.5vw;
}
.navbar-logo {

}

.cover-navbar-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height .7s ease, opacity .5s ease;
}

.cover-navbar-menu.active {
    display: flex;
    max-height: 500px; 
    opacity: 1;
}

.navbar-menu {
    display: flex;
    padding: 0;
}

.navbar-right {
    display: flex;
}

.navbar-searchBtn {
    padding: .75vw;
}

.navbar-searchBtn:hover {
    color: rgb(90, 90, 90);
}

.defalut-li {
    width: 6vw;
    height: 2vw;
    background-color: #f8cb37;
    border-radius: 10px;
    margin: 0.3vw;
    padding: 0.5vw;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center ;
    text-align: center;
}

.emergency-counseling {

}

.non-face-counseling {

}

.daily-self {

}

.daily-diary {

}

.manual {
    
}

.navbar-toggleBtn {
    padding: .75vw;
    color: black;
}

.navbar-toggleBtn:hover {
    color: rgb(90, 90, 90);
}

/* 메인 */
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.default-div {
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.back-btn-div{
    padding: 2vw;
    align-self: flex-start;
}

.back-btn:hover svg path {
    stroke: rgb(90, 90, 90);
}

.select-btn {
    background-color: #f0f0f0;
    border-radius: 10px;
    width: 18vw;
    height: 5vw;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.id-div,.password-div {
    background-color: #f0f0f0;
    border-radius: 10px;
    width: 36vw;
    height: 5vw;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.text-default {
    font-size: 1.2rem;
    padding-left: 2vw;
}

.login-btn {
    background-color: #FFD651;
    border-radius: 10px;
    width: 36vw;
    height: 5vw;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.text-hover {
    font-size: .6rem;
}

.sns-bar {
    display: flex;
    align-items: center;
}

.btn-hover:hover {
    background-color: #f8cb37;
}

.sns-bar-text {
    margin: .8rem;
    font-size: 0.6rem;
}

.text-hover:hover {
    color: rgb(105, 104, 104);
}

.naver-btn{
    color: #f8cb37;
}

.naver-btn:hover svg rect{
    filter: brightness(0.9);
}

/* 미디어 쿼리 */
/* 미디어 쿼리 */
/* 미디어 쿼리 */
@media screen and (max-width: 1023px) {

    body {
        width: 100vw;
        height: 100vh;
        margin: 0;
    }

    .max-div {
        width: 100%;
        height: 100%;
    }

    p {
        margin: 0;
        font-size: 1rem;
    }

    /* 헤더 */
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 3vw;
    }
    .navbar-logo {

    }

    .cover-navbar-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: max-height .7s ease, opacity .5s ease;
    }
    
    .cover-navbar-menu.active {
        display: flex;
        max-height: 500px; 
        opacity: 1;
    }
    
    .navbar-menu {
        display: flex;
        padding: 0;
    }

    .navbar-right {
        display: flex;
    }

    .navbar-searchBtn {
        padding: 1vw;
    }

    .navbar-searchBtn:hover {
        color: rgb(90, 90, 90);
    }

    .defalut-li {
        width: 16vw;
        height: 12vw;
        background-color: #f8cb37;
        border-radius: 10px;
        margin: 1vw;    
        padding: 0.5vw;
        font-size: 0.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .emergency-counseling {

    }

    .non-face-counseling {

    }

    .daily-self {

    }

    .daily-diary {

    }

    .manual {
        
    }

    .navbar-toggleBtn {
        padding: 1vw;
        color: black;
    }

    .navbar-toggleBtn:hover {
        color: rgb(90, 90, 90);
    }

    /* 메인 */
    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .default-div {
        margin-top: 4vw;
        margin-bottom: 4vw;
    }

    .back-btn-div{
        padding: 2vw;
        align-self: flex-start;
    }

    .back-btn:hover svg path {
        stroke: rgb(90, 90, 90);
    }

    .select-btn {
        background-color: #f0f0f0;
        border-radius: 10px;
        width: 40vw;
        height: 12vw;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    .id-div,.password-div {
        background-color: #f0f0f0;
        border-radius: 10px;
        width: 80vw;
        height: 12vw;
        box-sizing: border-box;
        display: flex;
        align-items: center;
    }

    .text-default {
        font-size: 1rem;
        padding-left: 5vw;
    }

    .login-btn {
        background-color: #FFD651;
        border-radius: 10px;
        width: 80vw;
        height: 12vw;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    .text-hover {
        font-size: .6rem;
    }

    .sns-bar {
        display: flex;
        align-items: center;
    }

    .btn-hover:hover {
        background-color: #f8cb37;
    }

    .sns-bar-text {
        margin: .8rem;
        font-size: 0.6rem;
    }

    .text-hover:hover {
        color: rgb(105, 104, 104);
    }

    .naver-btn{
        color: #f8cb37;
    }

    .naver-btn:hover svg rect{
        filter: brightness(0.9);
    }
}